body{
background-color: aquamarine;
text-align: center;
padding: 16px ;
}
header{
background-color: blueviolet;
}
section{
background-color: white;
padding: 16px;
margin: 16px;
max-width: 500px;
}
.conteudo-site{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}